.features {
    max-width: 50%;
    min-width: 695px;
    padding: 25px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #FFFFFF;
    box-shadow: 0px 2px 14px rgba(35, 35, 35, 0.1);
    border-radius: 20px;
    transition-duration: 500ms;
}

.features__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.features__user span {
    font-size: 30px;
    line-height: 1;
    font-weight: 500;
}

.features__block {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    cursor: pointer;
}

.features__title {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.4;
}

.features__item {
    display: block;
    padding: 5px 0;
    background-color: #8367D6;
    border-radius: 80px;
    width: 100px;
    text-align: center;

    font-size: 20px;
    line-height: 1.5;
    color: #FFFFFF;
    font-weight: 500;
}

.features__change {
    display: flex;
    align-items: center;
    gap: 7px;
}

.features__change span {
    padding-top: 2px;
    font-size: 12px;
    transition-duration: 500ms;
}

.features__close {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 100;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 10px 5px #8367d66e;
    color: #8367D6;

    animation-name: close;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
}

.features__close svg {
    fill: currentColor;
    display: block;
}

@keyframes close {
    0% {
        background-color: #FFFFFF;
        color: #8367D6;
    }

    50% {
        background-color: #8367D6;
        color: #FFFFFF;
    }

    100% {
        background-color: #FFFFFF;
        color: #8367D6;
    }
}