*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

button {
    outline: none;
    font-family: inherit;
    color: inherit;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

input {
    font-family: inherit;
    color: inherit;
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    border: none;
}

svg {
    display: block;
}